.DS_Store
server-php/application/config/*
server-php/application/config/config.php
server-php/application/config/database.php

server-php/application/cache/*
!server-php/application/cache/index.html
!server-php/application/cache/.htaccess

server-php/application/logs/*
!server-php/application/logs/index.html
!server-php/application/logs/.htaccess

server-php/user_guide_src/build/*
server-php/user_guide_src/cilexer/build/*
server-php/user_guide_src/cilexer/dist/*
server-php/user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# Android studio
*.iml
AndroidFarmer/.gradle
AndroidFarmer/local.properties
AndroidFarmer/.idea/workspace.xml
AndroidFarmer/.idea/libraries
AndroidFarmer.DS_Store
AndroidFarmer/build
AndroidFarmer/captures
AndroidFarmer/.externalNativeBuild

SivestaFunder/.gradle
SivestaFunder/local.properties
SivestaFunder/.idea/workspace.xml
SivestaFunder/.idea/libraries
SivestaFunder.DS_Store
SivestaFunder/build
SivestaFunder/captures
SivestaFunder/.externalNativeBuild
